{% extends "AcmePortfolioBundle::layout.html.twig" %}
{% import "AcmePortfolioBundle::macros.html.twig" as macros %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                {% set projectsNumber = projects|length %}
                <h2>{% trans %}My projects{% endtrans %} 
                    <small>
                        {% transchoice projectsNumber %}
                            {0} You don't have any project| {1} You have only one project| ]1,Inf] You have %projectsNumber% projects
                        {% endtranschoice %}
                    </small>
                </h2>
                <hr/>
                <div class="list-group">
                    {% for project in projects %}
                        {% include "AcmePortfolioBundle:About:project.html.twig" with {'item': project} %}
                    {% else %}
                        {% trans %}You have no projects{% endtrans %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-6">
                <h2>{% trans %}Skills{% endtrans %}</h2>
                <hr/>

                {% set skills = ['HTML', 'CSS', 'PHP', 'Symfony', 'Drupal', 'Django'] %}

                <div>
                    {% if skills|length > 0 %}
                        {{ skills|join(', ') }}
                    {% endif %}
                </div>
                <br/>
                <div>
                    {% if 'HTML' in skills and 'CSS' in skills %}
                        {% trans %}You seem to be a UI Developer{% endtrans %}
                    {% endif %}
                </div>
                <br/>
                {{ skills|length > 5 ? macros.alert('success', 'I am a Senior Developer'|trans) : macros.alert('danger', 'I am a Junior developer'|trans) }}
            </div>
        </div>
    </div>
{% endblock %}
