{% extends "AcmePortfolioBundle::layout.html.twig" %}
{% import "AcmePortfolioBundle::macros.html.twig" as macros %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                <h2>My projects</h2>
                <hr/>
                <div class="list-group">
                    {% for project in projects %}
                        {% include "AcmePortfolioBundle:About:project.html.twig" with {'item': project} %}
                    {% else %}
                        You have no projects
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-6">
                <h2>Skills</h2>
                <hr/>

                {% set skills = ['HTML', 'CSS', 'PHP', 'Symfony', 'Drupal', 'Django'] %}

                <div>
                    {% if skills|length > 0 %}
                        {{ skills|join(', ') }}
                    {% endif %}
                </div>
                <br/>
                <div>
                    {% if 'HTML' in skills and 'CSS' in skills %}
                        You seem to be a UI Developer
                    {% endif %}
                </div>
                <br/>
                {{ skills|length > 5 ? macros.alert('success', 'I am a Senior Developer') : macros.alert('danger', 'I am a junior developer') }}
            </div>
        </div>
    </div>
{% endblock %}