<a class="list-group-item" href="{{ item.html_url }}" target="_blank">
    <h4 class="list-group-item-heding">{{ item.name }}</h4>

    <p class="list-group-item-text">
        {{ item.language }}
        <span class="label label-primary">{{ item.default_branch }}</span>
    </p>
</a>