{% extends "AcmeAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>Post <small>{{ action }}</small></h1>
    </div>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
