{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% block body %}
    <h1>Home</h1>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function () {
            $('body').on('click', '.alert .close', function () {
                $.ajax({
                    url: '/accept-cookies'
                })
            });
        });
    </script>
{% endblock %}