{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <div class="col-xs-6">
        <h2>{% trans %}Current job{% endtrans %}</h2>
        <hr/>
        {{ render(controller('AcmePortfolioBundle:Home:currentJob')) }}
    </div>
{% endblock %}
