{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <h4>If you want to hire me, fill the following form:</h4>
    <hr/>
    {{ form(form) }}
{% endblock %}