{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% block body %}
    <h2>Blog posts in {{ locale }}</h2>
    <ul>
        {% for post in posts %}
            <li><a href="{{ path('portfolio_blog_show', {'locale': locale, 'slug': post}) }}">{{ post }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}