{% extends "AcmePortfolioBundle::layout.html.twig" %}

{% if section is defined %}
    {% set body_class = 'body-' ~ section|lower %}
{% endif %}

{% block body %}
    <h2>{% trans with {'%category_name%': categoryName} %}Blog posts in "%categoryName%"{% endtrans %}</h2>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{{ path('portfolio_blog_show', {'categoryName': categoryName, 'slug': post.slug}) }}">
                    {{ post.slug }}
                </a>
                <a href="{{ path('portfolio_blog_remove', {'categoryName': categoryName, 'slug': post.slug}) }}">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
